---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Madlen von Wulffen" description="Design, research & spatial practice">
  <div class="page">
    <div class="description-block">
      <p>This is an exploration of the home in the realms of <u>ecological thinking</u>, <u>circular cities</u>, <u>systemic innovation</u>, <u>future living</u> and <u>social transformation</u>. This is a space for experimentation and imagination on how we inhabit our homes.</p>
    </div>
    <div class="home-wordmark">
      <svg viewBox="0 0 1000 185" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
        <text
          x="0" y="175"
          font-family="'Teko', sans-serif"
          font-weight="700"
          font-size="235"
          fill="#141414"
          textLength="1000"
          lengthAdjust="spacingAndGlyphs">HOME</text>
      </svg>
    </div>
  </div>
</Layout>

<style>
  .page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 4.4rem;
  }

  .description-block {
    padding: 2.4rem 2.6rem 0;
    max-width: 520px;
    margin-left: auto;
    margin-right: 2.6rem;
  }

  .description-block p {
    font-size: 0.94rem;
    font-weight: 300;
    line-height: 1.75;
    color: var(--ink);
    letter-spacing: 0.01em;
  }

  .description-block u {
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
  }

  .home-wordmark {
    width: 100%;
    overflow: hidden;
    line-height: 1;
  }

  .home-wordmark svg {
    display: block;
    width: 100%;
    height: auto;
  }
</style>
