---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Madlen von Wulffen" description="Design, research & spatial practice">
  <div class="page">
    <div class="description-block">
      <p>This is an exploration of the home in the realms of <u>ecological thinking</u>, <u>circular cities</u>, <u>systemic innovation</u>, <u>future living</u> and <u>social transformation</u>. This is a space for experimentation and imagination on how we inhabit our homes.</p>
    </div>
  </div>
  <div class="home-wordmark">HOME</div>
</Layout>

<style>
.page {
  flex: 1;
  position: relative;
}

.description-block {
  display: flex;
  align-items: flex-start;
  padding: calc(var(--header-height) + 4rem) 2.6rem 3rem 2.6rem;
  max-width: 520px;
  margin-left: auto;
  margin-right: 0;
  margin-top: 2cm;
}

.description-block p {
  font-size: 0.94rem;
  font-weight: 300;
  line-height: 1.75;
  color: var(--ink);
  letter-spacing: 0.01em;
}

.description-block u {
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.home-wordmark {
  display: block;
  width: 100%;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 900;
  font-size: 22vw;
  line-height: 0.85;
  color: #000000;
  letter-spacing: -0.035em;
  white-space: nowrap;
  overflow: hidden;
  pointer-events: none;
  margin: 0;
  padding: 0;
  margin-top: auto;
}
</style>
