---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Madlen von Wulffen" description="Design, research & spatial practice">
  <div class="page">
    <div class="description-block">
      <p>This is an exploration of the home in the realms of <u>ecological thinking</u>, <u>circular cities</u>, <u>systemic innovation</u>, <u>future living</u> and <u>social transformation</u>. This is a space for experimentation and imagination on how we inhabit our homes.</p>
    </div>
    <div class="home-wordmark">HOME</div>
  </div>
</Layout>

<style>
.page {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  padding: 0;
  overflow: hidden;
}

.description-block {
  display: flex;
  align-items: center;
  padding: calc(var(--header-height) + 3rem) 2.6rem 3rem 2.6rem;
  max-width: 520px;
  margin-left: auto;
  margin-right: 0;
}

.description-block p {
  font-size: 0.94rem;
  font-weight: 300;
  line-height: 1.75;
  color: var(--ink);
  letter-spacing: 0.01em;
}

.description-block u {
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.home-wordmark {
  display: block;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 1200;
  line-height: 0.82;
  color: #141414;
  letter-spacing: -0.03em;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  font-size: 38vw;
  width: 100%;
  overflow: hidden;
}
</style>
