---
import BaseLayout from '../layouts/BaseLayout.astro'
import Header from '../components/header.astro'
import Footer from '../components/footer.astro'
---
<BaseLayout title="Willkommen, zu meinem Thinking Space" description="Explorationen zu Wohnen, Ökologie, zirkulären Städten & gesellschaftlichem Wandel.">
  <Header slot="header" />
  <section class="hero">
    <h1>Willkommen, zu meinem Thinking Space</h1>
    <p>Eine Erkundung von Zuhause, Ökologie, zirkulären Städten, Systeminnovation und gesellschaftlicher Transformation.</p>
  </section>
  <Footer slot="footer" />
</BaseLayout>
